*{
    margin:0px;
    padding: 0px;
    border: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    top: 70px;
}
:root{
    --color1: rgb(18, 197, 155);
    --background: rgba(4, 4, 4, 0.869);
    --colorInput:rgb(0, 0, 0, 0);
}
h1{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.form{
    justify-content: center;
    text-align: center;
    background-color: var(--background);
    border: 3px solid var(--color1);
    border-radius: 8px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
}
label{
    margin-left: 12px;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select{
    margin-left: 18%;
    width: 260px;
    height: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--colorInput);
    border: 2px solid var(--color1);
    border-radius: 3px;
    color: #fff;
}
select option{
    background-color: var(--background);
    color: #ffff;
}
option{
    background-color: var(--colorInput);
}
input{
    margin-left: 12px;
    border: 2px solid var(--color1);
    background-color: var(--colorInput);
    border-radius: 5px;
    color: #fff;
}
input:focus{
    color: #fff;
}
.sucess{
    border:2px solid green;
}
.error{
    border:2px solid red;
}
.feedback{
    margin-left: 3%;
    background-color: var(--colorInput);
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    visibility: hidden;
    opacity: 0;
}
.boton{
    margin-top: 5%;
    margin-left: 41%;
    width: 90px;
    height: 40px;
    background-color: var(--color1);
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #fff;
}