<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto1</title>
    <link rel="stylesheet" href="../css/Styles2.css">
</head>
<body>
    <section class="container">
        <h1>Funciones String</h1>
        <form onsubmit="palabras()">
            <h2>Seleccione entre las funciones</h2>
            <select id="op">
                <option>Seleccionar funcion</option>
                <option value="La longitud de la palabra">La longitud de la palabra</option>
                <option value="La palabra convertida en mayúsculas">La palabra convertida en mayúsculas</option>
                <option value="La palabra convertida en minúsculas">La palabra convertida en minúsculas</option>
                <option value="El primer carácter de la palabra">El primer carácter de la palabra</option>
            </select><br><br>
            <input type="text" placeholder="palabra" id="palabra">
            <button type="submit" class="boton">Enviar</button>
        </form>
    </section>
</body>
<script src="../js/reto1.js"></script>
</html>