<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto2</title>
    <link rel="stylesheet" href="../css/Styles2.css">
</head>
<body>
    <section class="container">
        <h1>Conversion de grados</h1>
        <form onsubmit="convertir()">
            <input type="number" placeholder="Ingrese los grados a convertir" id="grados"><br>
            <select id="conver1">
                <option>Vas a convertir de</option>
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Celsius">Celsius</option>
                <option value="Kelvin">Kelvin</option>
            </select><br>
            <select id="conver2">
                <option >Deseas convertir a</option>
                <option  value="Fahrenheit">Fahrenheit</option>
                <option  value="Celsius">Celsius</option>
                <option  value="Kelvin">Kelvin</option>
            </select><br>
            <button type="submit" class="boton">Enviar</button>
        </form>
    </section>
</body>
<script src="../js/reto2.js"></script>
</html>