<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto4</title>
    <link rel="stylesheet" href="../css/Styles2.css">
</head>
<body>
    <section class="container">
        <form onsubmit="verificar()">
            <h2>Instructores</h2>
            <select id="name">
                <option>Seleccione el nombre</option>
                <option value="Lorena">Lorena</option>
                <option value="Tatiana">Tatiana</option>
                <option value="Paula">Paula</option>
                <option value="Margarita">Margarita</option>
                <option value="Jennifer">Jennifer</option>
                <option value="Jonathan">Jonathan</option>
                <option value="Uldarico">Uldarico</option>
            </select>
            <select id="lastname">
                <option>Seleccione el Apellido</option>
                <option value="Medina">Medina</option>
                <option value="Cabrera">Cabrera</option>
                <option value="Romero">Romero</option>
                <option value="Guiarin">Guiarin</option>
                <option value="Fajardo">Fajardo</option>
                <option value="Espitia">Espitia</option>
                <option value="Andrade">Andrade</option>
            </select>
            <select id="actividad">
                <option>Seleccione la actividad</option>
                <option value="Comunicacion">Comunicacion</option>
                <option value="Java">Java Avanzado</option>
                <option value="Emprendimiento">Emprendimiento</option>
                <option value="Prototipado">Prototipado</option>
                <option value="Diseño">Realizacion de proyectos y java Script</option>
                <option value="Sql">Sql bases de datos</option>
                <option value="python">python</option>
            </select>
            <button type="submit" class="boton">Enviar</button>
        </form>
    </section>
</body>
<script src="../js/reto4.js"></script>
</html>